:root {
    --hover-shadow-size:176px;
}

body {
    background-image: url("../assets/home/background-home-desktop.jpg");
}

.main-container {
    margin-bottom: var(--hover-shadow-size);
}

.explore-btn {
    --diameter:274px;
    position: relative;
    display: inline-block;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: var(--color-white);
    text-align: center;
    line-height: var(--diameter);
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 32px;
    transition: background-color .5s linear;
    align-self: flex-end;
}

.explore-btn:hover {
    background-color: var(--color-gray);
    opacity: 83%;
}

.explore-btn::after {
    --hover-shadow-size:0px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-white);
    width: var(--hover-shadow-size);
    height: var(--hover-shadow-size);
    transition: .4s ease-out;
    opacity: .10;
    border-radius: 50%;
    
}

.explore-btn:hover::after {
    --hover-shadow-size:450px;
}

.subtitle {
    font-family: 'Barlow Condensed';
    letter-spacing: 4.72px;
    color: var(--color-skyblue-light);
}

@media (max-width:768px) {
    body {
        background-image: url("/assets/home/background-home-tablet.jpg");
        background-size: auto;
        background-position-x: center;
    }

    .main-container {
        flex-direction: column;
        text-align: center;
        margin-top: 106px;
    }

    .subtitle {
        font-size: 20px;
    }

    .explore-btn {
        margin-top: 156px;
    }

    .body-text {
        line-height: 28px;
        
    }
}

@media (max-width:375px) {
    .title {
        font-size: 80px;
    }

    .subtitle {
        font-size: 16px;
    }
}