body {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
}

* {
    box-sizing:border-box;
}

.subheader {
    display: flex;
    height: 96px;
    /* border: 1px solid magenta; */
}

.content-sizing {
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
}

.make-flex {
    display: flex;
    justify-content: space-evenly;
}

.sub-title {
    align-self: flex-start;
}

.page-nav {
    align-self: flex-end;
    grid-gap: .5em;
    height: 1.2em;
    
}

.subheader a.nav-link {
    padding:0;
    /* border: 1px solid magenta; */
}

.text,
.page-nav {
    /* border: 1px solid lime; */
    width: 450px;
}

.info-container {
    justify-content: space-between;
}

.main-container {
    margin-top: 7vh;
}